// Home Page Styling Start

.hero-image-container {
  height: 660px;
  overflow: hidden;
  position: relative;
  background: image-url('ts1_low.png');
  background-size: cover;
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
};

.hero-subheader {
  position: absolute;
  bottom: 130px;
  left: 90px;
  font-size: 12px;
}

.hero-header {
  position: absolute;
  bottom: 80px;
  left: 90px;
  font-weight: 900;
  font-size: 30px;
}

.hero-cta {
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  right: 90px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 15px 50px;
}

.hero-cta:hover {
  text-decoration: underline;
}

  .home-session-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  .home-login-button {
    border-right: 1px solid black;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 15px;
  }

  .home-signup-button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 0px 0px 15px;
  }

  .home-logout-button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px;
  }

  .home-signup-button:hover, 
  .home-login-button:hover, 
  .home-logout-button:hover {
    text-decoration: underline;
  }